<ion-header>
  <ion-toolbar color="danger">
    <ion-buttons slot="start">
      <ion-button (click)="logout()">
        <ion-icon slot="icon-only" name="log-out-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title slot="start">My Chats</ion-title>
    <!-- ***THIS IS THE CORDOVA PLUGIN*** -->
    <ion-button color="dark" slot="end" (click)='openPage()'>Grantahm Link</ion-button>
    <!-- ***THIS IS THE CORDOVA PLUGIN*** -->
    <ion-buttons slot="end">
      <ion-button (click)="startGroup()">
        <ion-icon slot="icon-only" name="add"></ion-icon>
      </ion-button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content>
<ion-list>
  <ion-item *ngFor= "let chat of chats" [routerLink]="[chat.id]">
    <ion-label>
      {{ chat.name }}
    </ion-label>
  </ion-item>
</ion-list>
</ion-content>
